body, html {
    font-family: sans-serif;
    display:block;
    text-align:center;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.bar-nav{
	text-align: left;
	padding:20px;
}

h2{
    color: blue;
}

.custom-linea1 {
    fill: #009900;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #009900;
}

.custom-linea2 {
    fill: #ff0000;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #ff0000;
}

.custom-linea3 {
    fill: #00334d;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #00334d;
}
.custom-barras {
    fill: #00334d;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #00334d;
}
.custom-lineahori {
    fill: #4dc3ff;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #4dc3ff;
}
path.custom-style3.vis-fill {
    fill-opacity:0.5 !important;
    stroke: none;
}

.vis-graph-group0 {
    fill:#4f81bd;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #4f81bd;
}

.vis-graph-group1 {
    fill:#f79646;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #f79646;
}

.vis-graph-group2 {
    fill: #8c51cf;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #8c51cf;
}

.vis-graph-group3 {
    fill: #75c841;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #75c841;
}

.vis-graph-group4 {
    fill: #ff0100;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #ff0100;
}

.vis-graph-group5 {
    fill: #37d8e6;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #37d8e6;
}

.vis-graph-group6 {
    fill: #042662;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #042662;
}

.vis-graph-group7 {
    fill:#00ff26;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #00ff26;
}

.vis-graph-group8 {
    fill:#ff00ff;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #ff00ff;
}

.vis-graph-group9 {
    fill: #8f3938;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #8f3938;
}

.vis-fill {
    fill-opacity:0.1;
    stroke: none;
}


.vis-bar {
    fill-opacity:0.5;
    stroke-width:1px;
}

.vis-point {
    stroke-width:2px;
    fill-opacity:1.0;
}


.vis-legend-background {
    stroke-width:1px;
    fill-opacity:0.9;
    fill: #ffffff;
    stroke: #c2c2c2;
}


.vis-outline {
    stroke-width:1px;
    fill-opacity:1;
    fill: #ffffff;
    stroke: #e5e5e5;
}

.vis-icon-fill {
    fill-opacity:0.3;
    stroke: none;
}
.vis-timeline .vis-fill {
    fill-opacity: 0.6;
    stroke: none;
}

div.description-container {
    float:left;
    height:30px;
    width:160px;
    padding-left:5px;
    padding-right:5px;
    line-height: 30px;
    font-size: x-small;
}

div.icon-container {
    float:left;
}

div.legend-element-container {
    display:inline-block;
    width:200px;
    height:30px;
    border-style:solid;
    border-width:1px;
    border-color: #e0e0e0;
    background-color: #ffffff;
    margin:4px;
    padding:4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
}
div.legend-element-container.hidden {
    background-color: #d3e6ff;
}

svg.legend-icon {
    width:30px;
    height:30px;
}

div.external-legend {
    position:relative;
    margin-left: -5px;
    width: 100%;
}

#foto{
    display:inline;
    width: 50%;
}
#tipo_informe{
    display:inline-block;
    width:50%;
    float: right;
}
hr{
    background-color:blue;
    height: 4px;
}

header{
    width:100%;
/*     height:250px; */
    display:block;
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse; 
}

table.tableInfo  tr th td{
    max-width:170px;
    min-width:110px;   
}

tr,th,td{
	text-align:center;
	padding: 5px;
    margin: 5px;
}

th{
    background-color: #eee;   
}
table.tableInfo{
    margin: 5px;
    display:inline-block;
}
.bigBox{
    max-width: 200px;
    height:119px;
    
}
input{
	border-style: groove;
    background-color: #e6EEEE
}

input[readonly]{
    border: none;
	background-color: inherit;
}

.emptyBox{
    height: 21px;
}

.blueBox_1{
    background-color:  #CDDFF3;
}
.blueBox_2{
    background-color:  #0063FF;
    color:white;
}
.blueBox_3{
    background-color:  #000064;
    color:white;
}
.blueBox_4{
    background-color:  #00FFF8;
}


.btnBox{
	max-width: 300px;			
}


.btnVisualizar{
	background: transparent url("../iconos/visualizar.png") no-repeat center top;
}

.btnEditar{
	background: transparent url("../iconos/file_edit.png") no-repeat center top;
}

.btnBorrar{
	background: transparent url("../iconos/file_delete.png") no-repeat center top;
}

.btnEnviar{
	background: transparent url("../iconos/file_send.png") no-repeat center top;
}

.btnAccion{
	border: none;
	height: 24%;
	width: 20%;
	cursor: pointer;
	min-height: 33px;
	min-width: 15px;
	background-size: 70%;
}
	
.input-group {
    display: inline-flex;
}

.input-group-addon {
    width: 50px;
    height: 34px;
}
.inputNombre{
	margin-right: 15px;
	max-width: 100%;
}

.inputTipoInfome{
	margin-left: 8px;
}

.input-group .form-control {
    text-align: center;
}
.form-group {
    margin: 20px;
}

.form-alta{
	margin: 20px;
}
.texarea {
    max-width: 170px;
    width: 350px;
}
.center{
	margin-top:2rem;
}

.loading{
	width:50%;
	height:28%;		
	background-color:rgba(255, 255, 255, 0.9);
	border-style: solid;
	border-radius:5px;
	border-width: 3px;
	border-color:black;
	display: none;
	padding: 10px;
	z-index:10;
	position: fixed;
	margin-left:25%;
	margin-top:7%;
	min-width: 230px;
	min-height: 180px;
}
.loading-img{
	width:50px;
	height:50px;
}

table.tablesorter {
	width:98%;
	margin-left:1%;
	padding: 10px;
}

