html,body{
margin:0px;
height:100%;
}

body{
background-color: #fcffff;
/* background-image: url("bk.png"); */
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: small;
/* margin: 3px; */
}

.cabecera {
}


H1
{
	font-size: small;
	font-style: inherit;
	color: navy;
	text-align: left;
		
}
.contenido H1{
	visibility: hidden;
	font-size: 0;
    height: 0;
}
H2
{
	font-size: small;
	font-style: inherit;
	/*  background-color: whitesmoke;*/
	color: navy;
	border-bottom-color: #0067B4;
    border-bottom-style: inset;
    border-bottom-width: thin;	
}

label
{
	display: inline-block;
	min-width: 80px;
}

.contenido {
	padding-left:1px;
	padding-right: 1px;
}

.contenido p {
	margin-left: 20px;
	margin-right: 20px;
}

.formularioModal {
	vertical-align: top;
	padding-left:5%;
	padding-right: 5%;

	background-color: white;
	display:block;
	width: 100%;
	height: 100%;
	margin-top: 60px;
	padding-bottom:20px;
	position:absolute;
	border-style: none;

    z-index: 1;
}

.remota{
	background-color: #fbfbfb;
	display:table;
	width: 99%;
	/*height: 100%;
	padding-bottom:20px;*/
	padding-left:1px;
	margin-top: 1px;
	position:relative;
	border-style: groove;
	border-width: 2px;
	
	
}

.textocerrada{
visibility: hidden;
width: 0;
}

.textoabierta{
visibility: hidden;
width: 0;
}

.textoaveriada{
visibility: hidden;
width: 0;
}

.textotitulo{
visibility: hidden;
width: 0;
}

.filacerrada{
	background-color: #FFBABA;
/* 	color: white; */
	text-align: center;
	display: inline-table;

}

.filaabierta{
	background-color: #CBFECC;
	text-align: center;
	display: inline-table;
}

.filaaveriada{
	background-color: #FFFF44;
	text-align: center;
	border: 1px outset #CC0000;
	display: inline-table;
	background-image: url(alerta_movil.gif);
	background-repeat: no-repeat;
}

.filatitulo{
	background-color: #0067b4;
	text-align: center;
	display: inline-table;
	font-weight: bolder;
	color: #FFF;
}


.textoplano{
	text-align: left;
	border:0;
	background: none;
}


table.tablesorter tbody tr td.tablacerrada{
	background-color: red; !important;
	color: white;
	text-align: center;
	border:0;
/* 	width: 20%; */
}

.tablaabierta{
	text-align: center;
	border:0;
	width: 20%;
	background: none;
}

.tablaaveriada{
	background-color: #FFFF44;
	text-align: center;
	border: 1px outset #CC0000;
	display: inline-table;
	background-image: url(alerta_movil.gif);
	background-repeat: no-repeat;
}

.progBloque{
	background-color: #FFF;
	display:table;
	width: 99%;
	max-width: 400px;
	padding-bottom:20px;
	padding-left:1px;
	position:relative;
	border-style: groove;
	border-width: 2px;
	
}

.noMovile{
	visibility: hidden;
	width: 0px;
	height: 0px;
}

.Movile{
	text-align: center;
	visibility: visible;
}

.formlogin{
	background-color: #FBFBFB;
	display:block;
	width: 90%;
	max-width: 320px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
	position:relative;
	border-style: groove;
	border-width: 2px;
	margin: 10px auto 0 auto;
	border-radius: 20px 20px 20px 20px;
	
}

.progListado{
	background-color: #fbfbfb;
	display:block;
	width: 90%;
	/*height: 100%;*/
	padding-bottom:20px;
	padding-left:10px;
	border-style: groove;
	border-width: 2px;
	
}

.progListadoBloque{
	overflow-y: auto; 
	height: 250px; 
	margin-bottom: 15px;	
			
}


UL.menu
{
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 1px;
	MARGIN: 0px;
	PADDING-TOP: 2px;
	LIST-STYLE-TYPE: none;
	text-align: center;
	color: white;
	
}
 
UL.menu LI
{
	DISPLAY: inline;
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 4px;
	font-weight:bold;
	font-size:	10px;
	background-color: #C8C8C8;
	color: navy;
	font-stretch: condensed;
	border: thin outset #0067B4;	
}

UL.menu LI.activa
{
	DISPLAY: inline;
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	font-weight:bold;
	font-size:	17px;
	background-color: white;
	color: navy;
	border: thin inset #0067B4;
}

UL.menu a
{
	font-weight:bold;
	text-decoration: none;
	text-shadow: blue;
	font-weight: normal;
	PADDING-BOTTOM: -2px;
}



UL.col3
{
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 2px 0px;
	WIDTH: 100%;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none;
	text-align: left;
}
 
UL.col3 LI
{
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 2px;
	DISPLAY: inline;
	width: 33%;
	text-align: center;
}
UL.col
{
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 2px 0px;
	WIDTH: 99%;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none;
	text-align: left;
}
 
UL.col LI
{
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 2px;
}
.respuesta_modal{
	height: auto;
	position: fixed;
	width: 100%;
	max-width: 400px;
	z-index: 2000;
	background-color: #4F86D9;
	font-size: large;
	color: white;
	text-align: center;
    z-index: 1;	
}

.respuesta
{
	font-style: oblique;
	font-size: x-small;
	color: navy;
	text-decoration: blink;	
	cursor: pointer;
	display: inline;
}
.btnAbrir{
	background: transparent url("abrir.png") no-repeat center top;
	border: none;
	height: 40px;
	width: 40px;
	background-size: 100% 100%;
	cursor: pointer;
}
.btnCerrar{
	background: transparent url("cerrar.png") no-repeat center top;
	border: none;
	height: 40px;
	width: 40px;
	background-size: 100% 100%;
	cursor: pointer;
}
.btnEstado{
	background: transparent url("estado.png") no-repeat center top;
	border: none;
	height: 40px;
	width: 40px;
	background-size: 100% 100%;
	cursor: pointer;
}
.btnCambiar{
	background: transparent url("cambiar.png") no-repeat center top;
	border: none;
	height: 40px;
	width: 40px;
	background-size: 100% 100%;
	cursor: pointer;
}
.btnEliminar{
	background: transparent url("eliminar.png") no-repeat center top;
	border: none;
	height: 40px;
	width: 40px;
	background-size: 100% 100%;
	cursor: pointer;
}

.filatitulo .btnAbrir {
	visibility: hidden;
}
.filatitulo .btnCerrar {
	visibility: hidden;
}
.filatitulo .btnEstado {
	visibility: hidden;
}
.checkValv
{
}
.listado{
	border-collapse:collapse;
	width: 100%;
	background-color: #fbfbfb;
	margin-top: 10px;
	
}
.listado td, th{
	border:1px solid navy;
	padding:3px 7px 2px 7px;

}

.listado th{
	padding-top:5px;
padding-bottom:4px;
background-color:navy;
color:#ffffff;
	
}

.alert-error{
	color: red;
}

.alert-success{
	color: navy;
	font-style: oblique;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
	UL.col3 LI
	{
		width: 50%;
		display: inline;
	}
	.textoplano
	{
		width: 47%;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
/* Styles */
		body {
			
		}
		.cabecera {
		    border-color: #EDEDED;
    		border-style: solid;
    		border-width: 1px;
    		display: block;
			background-color: #F6FAFA;
    		background-image: url("Logo.png");
    		background-repeat: no-repeat;
    		padding-bottom: 1px;
    		background-position: right;
    		margin: 1px;
    		font-family: Verdana, Arial, Helvetica, sans-serif;
		}
	
		.contenido {
			padding-left:25px;
			padding-right: 25px;
		}

		.contenido H1{
			visibility: visible;
			font-size: large;
    		height: auto;
			font-size: medium;
			font-style: inherit;
			color: #0067b4;
			border-bottom-color: #0067b4;
			border-bottom-style: solid;
			border-bottom-width: 2px; 	
		}

		
		.contenido p {
			margin-left: 20px;
			margin-right: 20px;
		}
		
		.formularioModal {
			vertical-align: top;
			padding-left:5%;
			padding-right: 5%;
		
			background-color: white;
			display:block;
			width: 100%;
			height: 100%;
			margin-top: 0px;
			padding-bottom:20px;
			position:fixed;
			border-style: none;
		
	   		z-index: 1;	
		}
		
		.remota{
		    background-color: #FFF;
		    border-color: #0067B4;
		    border-spacing: 5px;
		    border-style: solid;
		    border-width: 2px;
		    display: block;
		    margin-top: 10px;
		    max-width: 70%;
		    padding-left: 10px;
		    position: absolute;
		    border-radius: 7px 7px 7px 7px;
		}		
		.textocerrada{
/* 			background-color: #F30731; */
			color: #F30731;
			text-align: center;
			border:2px;
			width: 35%;
			height: 40px;
			visibility: visible;
			border-radius: 12px;
			border-style: double;
			border-color: #F30731;	
		}
		
		.textoabierta{
/* 			background-color: #0066CC; */
			color: #00CC00;
			text-align: center;
			border:2px;
			width: 35%;
			height: 40px;
			visibility: visible;
			border-radius: 12px;
			border-style: double;
			border-color: #00CC00;	
		}
		
		.textoaveriada{
			background-color: #FFDD00;
			color: #CC0000;
			text-align: center;
			text-decoration: blink;
			text-transform: uppercase;
			border:0;
			width: 35%;
			height: 30px;
			visibility: visible;
		}
		
		.filacerrada{
			background-color: #FFF5F5;
			border: 1px solid #aaa;
		}
		
		.filaabierta{
			background-color: #CBFECC;
			border: 1px solid #aaa;
		}
		.filaaveriada{
			background-color: #FFFF44;
			background-image: url(alerta.png);
	
		}
		.textoplano{
			text-align: left;
			border:0;
			background: none;
			display: inline;
		}
		.col3 * .textoplano
		{
			width: 30%;
		}
		
		table.tablesorter tbody td.tablacerrada{
			background-color: red; !important;
			color: white;
			text-align: center;
			border:0;
			width: 150px;
		}
		
		.tablaabierta{
			text-align: center;
			border:0;
			width: 150px;
			background: none;
		}
		
		.progBloque{
		    background-color: #FFF;
		    border-color: #0067B4;
		    border-style: solid;
		    border-width: 2px;
			display:block;
			max-width: 38%;
			margin-left: 52%;
			margin-top: 10px;
			padding-bottom:20px;
			padding-left:10px;
			padding-right:10px;
			position: absolute;
			border-radius: 7px 7px 7px 7px;
		}
		
		.noMovile{
			/* margin-top: 10px; */
			margin-left: 52%;
			margin-top: 260px;
			position: absolute;
			visibility: visible;
		}
		
		.Movile{
			visibility: hidden;
			height: 0px;
		}
		
		
		.formlogin{
			margin: 10px auto 0 auto;
	
		}
		
		.progListado{
			background-color: #fbfbfb;
			display:block;
			width: 90%;
			/*height: 100%;*/
			max-width: 250px;
			margin-top: 10px;
			margin-left: 400px;
			padding-bottom:20px;
			padding-left:10px;
			position:relative;
			border-style: groove;
			border-width: 2px;
			
		}
		
		.progListadoBloque{
			overflow-y: auto; 
			height: 250px; 
			margin-bottom: 15px;	
					
		}
		
		UL.menu
		{
			PADDING-RIGHT: 0px;
			PADDING-LEFT: 0px;
			PADDING-BOTTOM: 0px;
			MARGIN: 0px;
			PADDING-TOP: 0px;
			LIST-STYLE-TYPE: none;
			text-align: left;
			color: white;
			
		}
		 
		UL.menu LI
		{
			DISPLAY: inline;
			PADDING-RIGHT: 20px;
			PADDING-LEFT: 20px;
			PADDING-BOTTOM: 2px;
			PADDING-TOP: 2px;
			font-weight:bold;
			background-color: #C8C8C8;
			color: navy;
			font-stretch: normal;
		}
		
		UL.menu LI.activa
		{
			DISPLAY: inline;
			PADDING-RIGHT: 20px;
			PADDING-LEFT: 20px;
			PADDING-BOTTOM: 3px;
			PADDING-TOP: 2px;
			font-weight:bold;
			background-color: white;
			color: navy;
			font-stretch: normal;
			border: thin solid #0067B4;
			
		}
		
		UL.menu a
		{
			font-weight:bold;
			text-decoration: none;
			text-shadow: blue;
			font-weight: normal;
			PADDING-BOTTOM: -2px;
		}
		
		
		UL.col
		{
			PADDING-RIGHT: 0px;
			PADDING-LEFT: 0px;
			PADDING-BOTTOM: 0px;
			MARGIN: 2px 0px;
			WIDTH: 99%;
			PADDING-TOP: 0px;
			LIST-STYLE-TYPE: none;
			text-align: left;
			DISPLAY: flex;
			vertical-align: top;
			
		}
		 
		UL.col LI
		{
			PADDING-RIGHT: 2px;
			PADDING-LEFT: 2px;
			PADDING-BOTTOM: 2px;
			PADDING-TOP: 2px;
			width: 100%;
		}
		
		UL.col3
		{
			PADDING-RIGHT: 0px;
			PADDING-LEFT: 0px;
			PADDING-BOTTOM: 0px;
			MARGIN: 2px 0px;
			PADDING-TOP: 0px;
			LIST-STYLE-TYPE: none;
			text-align: left;
		}
		 
		UL.col3 LI
		{
			PADDING-RIGHT: 2px;
			PADDING-LEFT: 2px;
			PADDING-BOTTOM: 2px;
			WIDTH:33%;
			PADDING-TOP: 2px;
		
		}
		.respuesta_modal{
			height: auto;
			position: absolute;
			width: inherit;
			z-index: 2000;
			background-color: #4F86D9;
			font-size: x-large;
			color: white;
			text-align: center;
			cursor: pointer;
			left: 100px;
			max-width: 100%;
			padding: calc(0%) calc(5% - 2px);
			top: 80px;
		    z-index: 1;
		}
		
		.respuesta
		{
			font-style: oblique;
			font-size: x-small;
			color: activecaption;
			text-decoration: blink;	
			cursor: pointer;
			display: inline;
		}
		.btnAbrir{
			background: transparent url("abrir.png") no-repeat center top;
			border: none;
			height: 45px;
			width: 45px;
			background-size: 100% 100%;
			cursor: pointer;
		}
		.btnCerrar{
			background: transparent url("cerrar.png") no-repeat center top;
			border: none;
			height: 45px;
			width: 45px;
			background-size: 100% 100%;
			cursor: pointer;
		}
		.btnEstado{
			background: transparent url("estado.png") no-repeat center top;
			border: none;
			height: 45px;
			width: 45px;
			background-size: 100% 100%;
			cursor: pointer;
		}
		.btnCambiar{
			background: transparent url("cambiar.png") no-repeat center top;
			border: none;
			height: 20px;
			width: 20px;
			background-size: 100% 100%;
			cursor: pointer;
		}
		.btnEliminar{
			background: transparent url("eliminar.png") no-repeat center top;
			border: none;
			height: 20px;
			width: 20px;
			background-size: 100% 100%;
			cursor: pointer;
		}
		.checkValv
		{
			margin-left: 5%;
		}
		
		.listado{
			border-collapse:collapse;
			width: 600px;
			background-color: #fbfbfb;
			
		}
		.listado td, th{
			border:1px solid navy;
			padding:3px 7px 2px 7px;
		
		}
		
		.listado th{
			padding-top:5px;
		padding-bottom:4px;
		background-color:navy;
		color:#ffffff;
			
		}


}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
