/* clock.css (clock_.js) */

.clock { /* Pon un iconito al input que mostrará el reloj emergente */
  background-image:url(icon-clock.png);
  background-repeat:no-repeat;
  background-position:right;
}

.clock_widget {
  position:absolute;
  width:440px;
  height:102px;
  background:rgba(255,255,255,0.7) url(clock.png);
  border:none; /*1px solid #77b;*/
  padding:0;
          box-shadow:2px 2px 6px #002;
     -moz-box-shadow:2px 2px 6px #002;
  -webkit-box-shadow:2px 2px 6px #002;
}

.clock_widget .clock_hour,
.clock_widget .clock_minute {
  position:absolute;
  width:21px;
  height:29px;
}

.clock_widget .clock_hour {
  top:24px;
  background:url(clock_hour.png);
}

.clock_widget .clock_minute {
  top:50px;
  background:url(clock_minute.png);
}

/* */
